# venv
.venv/
venv/
env/
.env

# cache files
__pycache__/
*.pyc
*.pyo
.*_cache/

# IDE/Editor Cache
.vscode/
.idea/

# Build results/packages
*.egg-info/
build/
dist/

# Data/Analysis results
PSD_ANALYSIS_RESULTS/
